$grey: #dedede;
$dark_blue: #00a4dd;
$blue: #9fe7ff;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	font-family: 'Syncopate';
}

img {
	width: 100%;
}

.parent {
	display: flex;
	min-height: 80px;
}

.child {
	width: auto;  /* Or whatever */
	margin: auto;  /* Magic! */
}

.border-util {
	border: 1px solid $grey;
	overflow: auto;
}

.padding-util {
	padding: 20px;
}

.nobr-util {
	white-space: nowrap;
}

.white-bg-util {
	background-color: #fff;
}

.center-util {
	text-align: center;
}

/*OVERRIDES*/

.form-horizontal .control-label {
    text-align: left;
}

.navbar-default {
	background-color: $dark_blue;
	border: none;
}

.navbar-default .navbar-nav > li > a {
	color: $blue;
}

.navbar {
	border-radius: 0;
}

.navbar-default .navbar-brand {
	color: #fff;
}