$grey: #dedede;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	font-family: 'Syncopate';
}

img {
	width: 100%;
}

.parent {
	display: flex;
	height: 300px; /* Or whatever */
}

.child {
	width: auto;  /* Or whatever */
	margin: auto;  /* Magic! */
}

.border-util {
	border: 1px solid $grey;
	overflow: auto;
}

.padding-util {
	padding: 20px;
}

.nobr-util {
	white-space: nowrap;
}

.white-bg-util {
	background-color: #fff;
}

/*OVERRIDES*/

.form-horizontal .control-label {
    text-align: left;
}